/*	Wrappers and Buttons - 
-------------------------------------------------------------------------------------------------------*/
/* line 14, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-outer {
  display: none;
  z-index: 10000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 24, ../sass/klipspringer-grid.scss */
.ssklip-button-close {
  display: block;
  position: absolute;
  text-decoration: none;
}

/*	Grid System - Percentage based
	Spans cause the containers to spanX columns. nth-child declarations are clearfixes.
-------------------------------------------------------------------------------------------------------*/
/* line 33, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0px auto;
  height: 100%;
  position: relative;
  overflow: hidden;
}
/* line 43, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .widget {
  margin-bottom: 30px;
}
/* line 53, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col2,
.ssklip-wrapper-inner .col3,
.ssklip-wrapper-inner .col4,
.ssklip-wrapper-inner .col5,
.ssklip-wrapper-inner .col6,
.ssklip-wrapper-inner .col7,
.ssklip-wrapper-inner .col8 {
  display: inline;
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 71, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col1 .col2,
.ssklip-wrapper-inner .col1 .col3,
.ssklip-wrapper-inner .col1 .col4,
.ssklip-wrapper-inner .col1 .col5,
.ssklip-wrapper-inner .col1 .col6,
.ssklip-wrapper-inner .col1 .col7,
.ssklip-wrapper-inner .col1 .col8,
.ssklip-wrapper-inner .col2 .col2,
.ssklip-wrapper-inner .col2 .col3,
.ssklip-wrapper-inner .col2 .col4,
.ssklip-wrapper-inner .col2 .col5,
.ssklip-wrapper-inner .col2 .col6,
.ssklip-wrapper-inner .col2 .col7,
.ssklip-wrapper-inner .col2 .col8,
.ssklip-wrapper-inner .col3 .col2,
.ssklip-wrapper-inner .col3 .col3,
.ssklip-wrapper-inner .col3 .col4,
.ssklip-wrapper-inner .col3 .col5,
.ssklip-wrapper-inner .col3 .col6,
.ssklip-wrapper-inner .col3 .col7,
.ssklip-wrapper-inner .col3 .col8,
.ssklip-wrapper-inner .col4 .col2,
.ssklip-wrapper-inner .col4 .col3,
.ssklip-wrapper-inner .col4 .col4,
.ssklip-wrapper-inner .col4 .col5,
.ssklip-wrapper-inner .col4 .col6,
.ssklip-wrapper-inner .col4 .col7,
.ssklip-wrapper-inner .col4 .col8 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
/* line 79, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col2 {
  width: 50%;
}
/* line 82, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col2.span2 {
  width: 100%;
}
/* line 86, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col2:nth-child(2n) + div {
  clear: both;
}
/* line 91, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col3 {
  width: 33.33333%;
}
/* line 94, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col3.span2 {
  width: 66.66667%;
}
/* line 98, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col3.span3 {
  width: 100%;
}
/* line 102, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col3:nth-child(3n) + div {
  clear: both;
}
/* line 107, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col4 {
  width: 25%;
}
/* line 110, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col4.span2 {
  width: 50%;
}
/* line 114, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col4.span3 {
  width: 75%;
}
/* line 117, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col4.span4 {
  width: 100%;
}
/* line 121, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col4:nth-child(4n) + div {
  clear: both;
}
/* line 126, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col5 {
  width: 20%;
}
/* line 129, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col5.span2 {
  width: 40%;
}
/* line 133, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col5.span3 {
  width: 60%;
}
/* line 137, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col5.span4 {
  width: 80%;
}
/* line 141, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col5.span5 {
  width: 100%;
}
/* line 145, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col5:nth-child(5n) + div {
  clear: both;
}
/* line 150, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6 {
  width: 16.66667%;
}
/* line 153, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6.span2 {
  width: 33.33333%;
}
/* line 157, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6.span3 {
  width: 50%;
}
/* line 161, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6.span4 {
  width: 66.66667%;
}
/* line 165, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6.span5 {
  width: 83.33333%;
}
/* line 169, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6.span6 {
  width: 100%;
}
/* line 173, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col6:nth-child(6n) + div {
  clear: both;
}
/* line 178, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7 {
  width: 14.28571%;
}
/* line 181, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7.span2 {
  width: 28.57143%;
}
/* line 185, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7.span3 {
  width: 42.85714%;
}
/* line 189, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7.span4 {
  width: 57.14286%;
}
/* line 193, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7.span5 {
  width: 71.42857%;
}
/* line 197, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7.span6 {
  width: 85.71429%;
}
/* line 201, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7.span7 {
  width: 100%;
}
/* line 205, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col7:nth-child(7n) + div {
  clear: both;
}
/* line 210, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8 {
  width: 12.5%;
}
/* line 213, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span2 {
  width: 25%;
}
/* line 217, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span3 {
  width: 37.5%;
}
/* line 221, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span4 {
  width: 50%;
}
/* line 225, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span5 {
  width: 62.5%;
}
/* line 229, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span6 {
  width: 75%;
}
/* line 233, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span7 {
  width: 87.5%;
}
/* line 237, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8.span8 {
  width: 100%;
}
/* line 241, ../sass/klipspringer-grid.scss */
.ssklip-wrapper-inner .col8:nth-child(8n) + div {
  clear: both;
}
